.itemdetail-container{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 2.5rem;

}
.itemdetail-img{
    height: 100%;
}

.img-container{
    display: flex;
    width: 60%;
    max-height: 85vh;
    align-content: center;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;

}

.text-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-right: 3rem;
    
}

.h1-detail{
    text-transform: uppercase;
    
}

.h2-detail{
    font-size: 2.2rem;
    padding: 1.5rem 0;
}