@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.item-container{
    width: 200px;
    height: 400px;
    background: #8BC34A;
    overflow: hidden;
    box-shadow: 0 10px 20px #0006;
    transition: 0.25s ease;
}

.item-img{
    display: flex;
    align-items: center;
    height: 300px;
    overflow: hidden;
    background-color: #FCFDFC;
}

.item-img img{
    height: 100%;
}

.item-container:hover{
    box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
    transform: translateY(-6px);
}

.item-name{
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    justify-content: space-evenly;
    padding: 0.5rem;
    height: 100px;
    align-items: center;
    color: #FCFDFC;
}

h1, h2{
    font-family: 'Roboto Condensed';
    font-weight: 400;
}

.item-name > h2{
    color: #5C1779;
    font-size: 1.2rem;
}






